{% extends "main.html" %}

{% block maincolumn %}
    <h3 class="pb-4 mb-4 border-bottom"> From the Firehose </h3>
    {% for post in posts %}
    <div class="blog-post">
        <h2 class="blog-post-title">{{ post.title }}</h2>
        <p class="blog-post-meta">{{ post.Reviews.title }} by <a href="#">{{post.name}}</a><small class="text-muted"> Score: {{post.Reviews.score}}</small></p>
        <p>{{ post.Reviews.review }}</p>
    </div>
    {% endfor %}
{% endblock %}
{% block sidebar %}
    <div class="p-4 mb-3 bg-light rounded">
    <h4>Latest reviews</h4>
        <ul class="list-unstyled mb-0">
            {% for latest in latests %}
            <li>
                <a href="#">{{ latest.Reviews.title }}</a> by <a href="#">{{ latest.name }} {{ latest.surname }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}





